.add_tiket_btn {
    margin-top: 15px;
    margin-right: 15px;
    width: 200px;
    height: 50px;
    border: none;
    font-size: larger;
    cursor: pointer;
}

.add_tiket_btn:active {
    border: 2px solid black
}

.button_box {
    display: flex;
    flex-direction: row-reverse;
}

.box_card {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card {
    height: 60px;
    width: 90%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    box-sizing: border-box;
}

.checkbox_card {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.btn:active {
    background-color: #000000;
    color: #ffffff;
}

.edit_card {
    margin-left: 10%;
}

.timestamp_card {
    margin-left: 20%;
}

.question_card {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    width: 40%;
    height: 20%;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
}
 
.close {
    visibility: hidden;
}

input[type="text"] {
    width: 90%;
}